html {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	color: #333333;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #000000;
}

*, *::before, *::after {
	box-sizing: inherit;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.main-container {
	margin: 0 40px;
	box-shadow: 0 5px 70px 15px rgba(0, 1, 1, 0.2);
}

.main-navigation {
	position: relative;
	font-weight: 700;
	width: 1200;
	display: flex;
	justify-content: space-around;
}

.main-header {
	min-height: 55px;
}

.main-header-logo {
	position: absolute;
	left: 50%;
	margin-left: -69px;
}

.site-navigation-wrapper {
	width: 100%;
}

.site-navigation {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.container {
	width: 1200px;
}

.site-navigation a {
	color: #333333;
	display: block;
	vertical-align: middle;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus,
.site-navigation a:active {
	color: #efefef;
}

.site-navigation-current a {
	color: #766357;
}

.sedona {
	display: flex;
	width: 1200px;
	flex-direction: column;
	align-items: flex-start;
}

.mountains {
	min-height: 512px;
	width: 1200px;
	text-align: center;
	background: url("../img/shape.png") no-repeat 0 455px,
				url("../img/mountains.jpg");
}

.mountains img {
	margin-top: 76px; 
}

.foreword {
	min-height: 216px;
	padding: 62px 352px;
	text-align: center;
	line-height: 26px;
}

.container b,
.container h3 {
	font-weight: 700;
	font-size: 21px;
	line-height: 21px;
}

.container ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reasons ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.reasons-list {
	display: flex;
	flex-wrap: wrap;
}

.reason-item {
	width: 400px;
	min-height: 256px;
	line-height: 21px;
	text-align: center;
	padding: 0 0px;
	padding-top: 46px;
	padding-bottom: 62px;
}

.item-main {
	margin: 0;
	background-color: #81b3d2;
	color: #ffffff;
	min-height: ;
	width: 400px;
	padding: 0 60px;
	padding-top: 46px;
	padding-bottom: 62px;
}

.flags img {
	width:
}

.number {
	display: block;
	margin-bottom: 26px;
}

.reasons-list .part-1 {
	margin: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.flags {
}

.reasons-list .part-2 {
	width: 33%;
	background-color: #eeeeee;
}

.pluses-list {
	background-color: #ffffff;
	color: #000000;
	min-height: 351px;
	display: flex;
	flex-direction: row;
	padding-top: 60px;
	padding-bottom: 80px;
}

.pluses-item {
	position: relative;
	padding: 0 50px;
	padding-top: 160px;
	padding-bottom: 85px;
	width: 33%;
}

.pluses-item.house::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	top: 60px;
	left: 142px;
	background: url("../img/icon-house.svg") no-repeat;
}

.pluses-item.burger::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	top: 60px;
	left: 142px;
	background: url("../img/icon-burger.svg") no-repeat;
}

.pluses-item.gift::before {
	content: "";
	position: absolute;
	width: 75px;
	height: 72px;
	top: 60px;
	left: 142px;
	background: url("../img/icon-gift.svg") no-repeat;
}

.appeal {
	min-height: 291px;
	padding-top: 53px;
	text-align: center;
}

.search-form {
	display: flex;
	flex-wrap: wrap;
	width: 568px;
	justify-content: space-around;
}

.search-form input { 
	border: none;
	background-color: #f2f2f2;
	padding: 6px 0;
}

.search-form input:first-child,
.search-form input:nth-child(2) {
	padding-left: 13px;
	padding-right: 250px;
}

.search-form input:nth-child(3),
.search-form input:nth-child(4) {
	padding-left: 16px;
	padding-right: 16px;
}

.interested b {
	font-weight: 700;
	font-size: 30px;
	line-height: 36px;
}

.interested .brown {
	margin-top: 52px;
	padding: 30px 138px;
	text-align: center;
}

.interested .blue {
	margin-top: 54px;
	padding: 17px 196px;
}

button {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 21px;
	color: #ffffff;
	text-transform: uppercase;
}

.search {
	width: 568px;
	text-align: center;
}

.search input,
.search button {
	background-color: #f2f2f2;
	border: none;
}

.search input:hover {
	background-color: #ebebeb;
}

.search input:active {
	background-color: #ffffff;
}

button.brown {
	background-color: #766357;
}

button.brown:hover {
	background-color: #604e43;
}

button.brown:active {
	background-color: #503e33;
	color: #857871;
	box-shadow: 0 10px 0 20px rgba(1, 1, 1, 0.25);
}

button.blue {
	background-color: #81b3d2;
}

button.blue:hover {
	background-color: #669ec0;
}

button.blue:active {
	background-color: #5496bd;
	color: #88b6d1;
	box-shadow: 0 10px 0 20px rgba(1, 1, 1, 0.25);
}

.map {

}

.main-footer .container {
	min-height: 120px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.hashtag {
	margin-left: 132px;
}

.created-by {
}

.footer-social ul {
	margin: 0 auto;
	padding: 0;
	list-style: none;
	display: flex;
	width: 150px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	
}

.social-button {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.footer-social + b {
	font-size: 14px;
	font-weight: 400;
}

.logo-html {
	background-image: url("../img/html-logo.svg");
}

/*Стили для catalog*/
.selection {
	background: url("../img/catalog-main.jpg") no-repeat;
	background-color: #81b3d2;
	color: #ffffff;
	padding: 32px 73px;
	min-height: 217px;
	display: flex;
	justify-content: space-around;
	
}

.selection fieldset {
	border: none;
}

.selection legend {
	font-weight: 700;
	font-size: 16px;
	line-height: 21px;

}

.selection-item label {
	font-size: 14px;
	font-weight: 400px;
}

.cost-per-day {
	width: 330px;
}

.cost-per-day legend {
	margin-bottom: 9px;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	border: 2px solid #ffffff;
	border-radius: 2px;
}


.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: center;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 2px;
	height: 22px;
	background: #ffffff;
}

.range-controls {
  	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
    height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle-min {
  	left: 0;
}

.range-toggle-max {
  	left: 80%;
}

button.transparent {
	padding: 6px 35px;
	display: block;
    margin: 0 auto;
	text-decoration: none;
	background-color: transparent;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

button.transparent:hover {
	background-color: #ffffff;
	color: #000000;
}

.sortation {
	min-height: 87px;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.sortation-list {
	display: flex;
}

.sortation-item {
	margin-left: 33px;
}

.arrow-up a {
	background: url("../img/arrow-up.svg") no-repeat;
}

.arrow-down a {
	background: url("../img/arrow-down.svg") no-repeat;
}

.arrows a:active {
	background-color: #81b3d2;
}

.sortation h3 {
	font-size: 14px;
	font-weight: 400;
}

.sortation-item:first-child a {
	color: #81b3d2;
}

.sortation-item a {
	font-size: 12px;
	color: #b2b2b2;
	border-bottom: 1px dotted #81b3d2;
}

.sortation-item a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted #81b3d2;
}

.sortation-item a:active {
	color: #000000;
}

.stars {
	display: flex;
	justify-content: space-between;
}

.star {
	color: #81b3d2;
	margin-bottom: 47px;
	margin-right: 7px;
}

.rating {
	background-color: #f2f2f2;
	padding: 4px 13px;
}

.catalog-list {
	margin: 0;
	padding: 0;
}

.catalog-item {
	padding: 20px 73px;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
}

.catalog-item img {
}

.catalog-item .hotel-info {
	margin-left: 30px;
	min-height: 95px;
	width: 258px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}

.hotel-info h3 {
	margin: 10px 0;
}

.hotel-info p {
	margin: 0;
}

.catalog-item .grade {
	margin-left: 522px;
	width: 111px;

}

.catalog-item-reserve .button {
	padding: 6px 17px;
}

a.brown {
	background-color: #766357;
	color:#ffffff;
}

a.brown:hover {
	background-color: #604e43;
}

a.brown:active {
	background-color: #503e33;
	color: #857871;
	box-shadow: 0 10px 0 20px rgba(1, 1, 1, 0.25);
}

a.blue {
	background-color: #81b3d2;
	color: #ffffff;
}

a.blue:hover {
	background-color: #669ec0;
}

a.blue:active {
	background-color: #5496bd;
	color: #88b6d1;
	box-shadow: 0 10px 0 20px rgba(1, 1, 1, 0.25);
}


